<!doctype html>
<html lang="{{ .Site.Language.LanguageCode | default .Site.Language.Lang | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ partial "site/theme-vars.html" . }}
    <link rel="stylesheet" href="{{ "css/base.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/posts.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/media.css" | absURL }}">
    <link rel="stylesheet" href="{{ "vendor/photoswipe/photoswipe.css" | absURL }}">
  </head>
  <body>
    {{ partial "site/header.html" . }}

    <main class="content">
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "site/footer.html" . }}
    <script src="{{ "js/site/twemoji.js" | absURL }}" defer></script>
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
